<template>
  <div>
    <div class="form_top_container">
      <div class="form_top_first_text">
        innisfree
      </div>
      <div class="form_top_second_text">
        마이 컨실러 수강신청
      </div>
      <div class="form_top_subject_text">
        {{topSubject}}
      </div>
    </div>

    <div class="form_content_container">
      <div class="form_content_spraed">......</div>
      <div class="form_content_subject" v-show="pageStepNumber < 3">
        <div class="form_content_subject_text">
          {{contentSubject}}
        </div>
        <div class="form_content_subject_underline">
        </div>
      </div>
      <div class="form_content_main"> 
        <id-regist v-show="pageStepNumber === 0" @set-option="setOption"></id-regist>
        <select-class v-show="pageStepNumber === 1" @set-option="setOption"></select-class>
        <select-concealer v-show="pageStepNumber === 2" :teacherName="printOption.teacherName" @set-option="setOption"></select-concealer>
        <result-page v-show="pageStepNumber === 3" :teacherIdx="teacherIdx" @set-print="print" @set-option="setOption"></result-page>
        <done v-show="pageStepNumber === 4" :userName="printOption.userName" @set-Step="setStep"></done>
      </div>
    </div>

    <div class="form_button_container">
      <div v-show="pageStepNumber !== 4">
        <div class="form_button form_button_previous">
          <img src="../assets/키오스크아이콘-02.png" @click="setStep(-1)" class="form_button_text">
        </div>
        <!-- <div class="form_button_center">
          <div v-show="pageStepNumber === 3" class="form_button form_button_print">
            <div @click="print" class="form_button_text">
              프린트
            </div>
          </div>
        </div> -->
        <div  class="form_button form_button_next">
          <img src="../assets/키오스크아이콘-03.png" v-show="pageStepNumber !== 3" @click="setStep(1)" class="form_button_text">
        </div>
      </div>
    </div>

    <div class="form_bottom_container">
      <div class="form_bottom_text">
        My Concealer
      </div>
      <div class="form_bottom_line"></div>
      <div :style="concealerStyle"  class="form_bottom_concealer">
      </div>
    </div>

  </div>
</template>

<script>
  import idRegist from '@/components/idRegist';
  import selectClass from '@/components/selectClass';
  import selectConcealer from '@/components/selectConcealer';
  import resultPage from '@/components/resultPage';
  import done from '@/components/done';

  export default {
    name: 'innisfree',
    components: {
      idRegist,
      selectClass,
      selectConcealer,
      resultPage,
      done,
    },
    data(){
      return{
        pageStepNumber: 0,
        topSubject: '아이디 입력',
        contentSubject: '수강신청 ID를 입력해주세요.',
        idRegist: {
          topSubject: '아이디 입력',
          contentSubject: '수강신청 ID를 입력해주세요.',
        },
        selectClass: {
          topSubject: '강좌 선택',
          contentSubject: '원하시는 커버영역을 선택하세요.',
        },
        selectConcealer: {
          topSubject: '마이 컨실러 컬러 선택',
          contentSubject: '원하시는 쉐이드를 선택하세요.',
        },
        resultPage: {
          topSubject: 'My Teacher Choice',
          contentSubject: '커버영역',
        },
        done: {
          topSubject: 'My Concealer Choice',
          contentSubject: '',
        },
        printOption: {
          printIndex: 0, //
          userName: '', //
          teacherName: '', //
          teacherImage: '', //
          lectureSubject: '', //
          concealerIdx: '',
          lectureTime: '',
          gift: '',
        },
        giftList: [
          {
            percent: 70,
            mesage: '마이 파운데이션 샘플',
            // mesage: 'MY Foundation Sample',
          },
          {
            percent: 15,
            mesage: '마이 컨실러',
            // mesage: 'MY Concealer',
          },
          {
            percent: 10,
            mesage: '베이스 완전정복 듀오',
            // mesage: 'Complete Base Mastery Duo',
          },
          {
            percent: 5,
            mesage: '마이 메이크업 틴키트 X OiOi',
            // mesage: 'Tin case Gift',
          }
        ],
      }
    },
    methods: {
      setStep(num) {
        let sumPageNum = this.pageStepNumber + num;
        let pageName = '';
        let tempState = '';
        if (sumPageNum < 0) {
          pageName = 'main';
          sumPageNum = 0;
        }else if (sumPageNum === 0) {
          pageName = 'idRegist';
          tempState = this.idRegist;
        }else if (sumPageNum === 1) {
          if (this.printOption.userName === '') return;
          pageName = 'selectClass';
          tempState = this.selectClass;
        }else if (sumPageNum === 2) {
          if (this.printOption.teacherName === '') return;
          pageName = 'selectConcealer';
          tempState = this.selectConcealer;
        }else if (sumPageNum === 3) {
          if (this.printOption.concealerIdx === '') return;
          pageName = 'resultPage';
          tempState = this.resultPage;
        }else if (sumPageNum === 4) {
          pageName = 'done'
          tempState = this.idRegist;
        }else if (sumPageNum === 5) {
          pageName = 'main';
          this.printOption = {
            printIndex: 0,
            userName: '',
            teacherName: '',
            teacherImage: '',
            lectureSubject: '',
            concealerIdx: '',
            lectureTime: '',
            gift: '',
          };
          sumPageNum = 0;
          tempState = this.idRegist;
        }
        this.pageStepNumber = sumPageNum;
        this.setSubject(tempState);
        this.$emit('set-page', pageName);
      },
      setSubject(fromState) {
        if (fromState.topSubject) this.topSubject = fromState.topSubject;
        if (fromState.contentSubject) this.contentSubject = fromState.contentSubject;
      },
      setOption(key, value) {
        this.printOption[key] = value;
        // console.log(this.printOption[key], key);
      },
      lottoSpecial(item) {
        const number = (Math.random() * 100);
        let resultMesage = '';
        let sumPercent = 0;
        item.forEach(element => {
          sumPercent += element.percent;
          if (sumPercent - element.percent <= number && number < sumPercent) resultMesage = element.mesage;
        }
        )
        if (sumPercent !== 100) {
          console.log('확률은 합이 100이여야합니다. 현재 합 : ', sumPercent);
          return;
        }
        return resultMesage;
      },
      print() { //  여기서 컨실러인덱스를 가지고 컨실러 이미지와 이름을 가져와야겠다.
        this.printOption.printIndex += 1;
        this.setOption('gift', this.lottoSpecial(this.giftList));
        console.log(this.printOption);
        this.setStep(1);
      }
    },
    computed: {
      concealerStyle() {
        let imageUrl = require('../assets/키오스크아이콘-09.png');
        if (this.pageStepNumber < 2) 
        return {background: `url(${imageUrl})`} ;
        if (this.printOption.teacherName === '다영') imageUrl = require('../assets/키오스크아이콘-12.png');
        if (this.printOption.teacherName === '씬님') imageUrl = require('../assets/키오스크아이콘-10.png');
        if (this.printOption.teacherName === '깡나') imageUrl = require('../assets/키오스크아이콘-11.png');
        return {background: `url(${imageUrl})`} ;
      },
      teacherIdx() {
        const teacherName = this.printOption.teacherName;
        let idx = 0;
        if (teacherName === '다영') idx = 0;
        if (teacherName === '씬님') idx = 1;
        if (teacherName === '깡나') idx = 2;
        return idx;
      }
    },
  }
</script>

<style>

.form_top_container {
  height: 433px;
  text-align: center;
  background: #024137;
  box-sizing: border-box;
  border: 1px solid blue;
}
.form_top_first_text {
  color: white;
  font-size: 73px;
  font-style: italic;
  /* font-family: 'innisfree2'; */
  padding-top: 65px;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}
.form_top_second_text {
  color: white;
  font-size: 66px;
  margin-top: 15px;
  font-family: 'innisfree3';
}
.form_top_subject_text {
  color: white;
  font-size: 45px;
  margin-top: 90px;
  font-family: 'innisfree5';
}
.form_content_container {
  height: 1000px;
  padding-right: 75px;
  padding-left: 75px;
  background: #eaeaea;
}
.form_content_spraed {
  padding-top: 14px;
  text-align: center;
  color: #024137;
  font-size: 98px;
  font-family: 'innisfree2';
}
.form_content_subject {
  text-align: center;
}
.form_content_subject_text {
  color: black;
  font-size: 45px;
  font-family: 'innisfree1';
  margin-top: 40px;
}
.form_content_subject_underline {
  display: inline-block;
  background: #024137;
  margin-top: 25px;
  width: 75%;
  height: 5px;
}
.form_button_container {
  height: 87px;
  padding-left: 75px;
  padding-right: 75px;
  background: #eaeaea;
}
.form_button_center {
  display: inline-block;
  width: calc(60%);
  text-align: center;
}
.form_button {
  text-align: center;
  display: inline-block;
  color: #024137;
  width: 19%;
  margin-top: 15px;
}
.form_button_text {
  width: 100%;
}
/* .form_button_previous {
  background: url(../assets/키오스크아이콘-02.png);
  background-size: cover;
}
.form_button_next {
  background: url(../assets/키오스크아이콘-03.png);
  background-size: cover;
} */
.form_button_print {
  /* position: absolute; */
}
.form_button_next {
  margin-left: 61%;
}

.form_bottom_container {
  height: 400px;
  text-align: center;
  padding-top: 60px;
  padding-left: 75px;
  padding-right: 75px;
  background: #eaeaea;
}
.form_bottom_text {
  position: relative;
  display:inline-block;
  background: #eaeaea;
  color: white;
  font-size: 43px;
  font-family: 'innisfree3';
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  top: 30px;
  box-sizing: border-box;
  /* transform: translateY(50%); */
}
.form_bottom_line {
  background: white;
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  border: 1px solid white;
}
.form_bottom_concealer {
  margin-top: 50px;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  /* background: url(../assets/키오스크아이콘-09.png) ; */
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

</style>
