<template>
  <div class="done_container">
    <div class="done_text_container">
      <div class="done_first_text">
        {{userName}} 님의
      </div>
      <div class="done_second_text">
        마이 컨실러 수강신청이 완료되었습니다.
      </div>
      <div class="done_third_text">
        감사합니다.
      </div>
    </div>
    <div class="done_button_container">
      <div @click="done" class="done_button"></div>
    </div>
  </div>
</template>

<script>
  export default {
    components: {
    },
    props: {
      userName: {
        default: '',
      }
    },
    data(){
      return{
      }
    },
    methods: {
      done() {
        this.$emit('set-Step', 1);
      }
    }
  }
</script>

<style>
.done_container {
  width: 100%;
  text-align: center;
}
.done_text_container {
}
.done_first_text {
  margin-top: 240px;
  font-size: 50px;
}
.done_second_text {
  font-size: 41px;
  margin-top: 25px;
}
.done_third_text {
  font-size: 35px;
  margin-top: 101px;
}
.done_button_container {
  margin-top: 250px;
  height: 60px;
  text-align: center;
}
.done_button {
  display: inline-block;
  width: 150px;
  height: 100%;
  background: url(~@/assets/키오스크아이콘-05.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

</style>
