<template>
  <div class="id_regist_container">
    <virtual-keyboard @set-option="setOption"></virtual-keyboard>
  </div>
</template>

<script>
import virtualKeyboard from './virtualKeyboard'
  export default {
    components: {
      virtualKeyboard
    },
    data(){
      return{
      }
    },
    methods: {
      setOption(key, option) {
        this.$emit('set-option', key, option);
      }
    },
  }
</script>

<style>

.id_regist_container {
  text-align: right;
}
.keyboard_input_container {
  text-align: center;
}
.keyboard_button_div {
  width: 8%;
  margin: 1px;
}
.keyboard_button {
  color: white;
  width: 100%;
  background: rgb(16, 100, 16);
}
.line_1 > .button_div_10 {
  width: 16%;
}
.line_2 > .button_div_10 {
  width: 12%;
}
.line_2 {
  display: inline;
}
.line_public {
  margin: 1px;
  width: 100%;
}
.button_div_public {
  width: 8%;
}
.line_public button {
  background: #024137;
}
.line_public > .button_div_4 {
  width: calc(48% + 11px);
}
.line_public > .button_div_4 > .button_4 {
  background: rgb(16, 100, 16);
}

</style>
