<template>
    <div class="main_text_div">
      <div class="main_text_first">
        <img src="../assets/키오스크아이콘-34.png">
      </div>
      <div class="main_text_second">
        마이 컨실러 수강신청
      </div>
      <div class="main_text_third">
        My Concealer Choice
      </div>
      <div class="main_button">
        <img @click="setShowPage('idRegist')" src="../assets/키오스크아이콘-01.png" class="main_button_text">
      </div>
    </div>
</template>

<script>
  export default {
    data(){
      return{
      }
    },
    methods: {
      setShowPage(pageName) {
        this.$emit('set-page', pageName);
      },
    },
  }
</script>

<style>

.main_background_div { 
  height: 100%;
}
.main_text_div {
  position: relative;
  width: 100%;
  top: 34.7%;
  margin: auto;
  text-align: center;
}
.main_text_first {
  color: white;
  /* transform: skew(-10deg); */
  /* background: url(../assets/키오스크아이콘-34.png); */
  /* font-style: italic; */
}
.main_text_first img {
  width: 300px;
  height: 50px;
}
.main_text_second {
  color: white;
  font-size: 74px;
  margin-top: 40px;
  font-family: 'innisfree3';
}
.main_text_third {
  color: white;
  transform: translate(-15px);
  font-size: 45px;
  margin-top: 32px;
  letter-spacing: -0.5px;
  font-family: 'innisfree4';
}
.main_button {
  margin-top: 160px;
  vertical-align: middle;
}
.main_button_text {
  width: 250px;
  height: 90px;
}

</style>
