<template>
  <div class="result_container">
    <div class="result_subject">
      {{resultArray[teacherIdx].resultSubject}}
    </div>
    <div class="result_image_container" :style="teacherImage">
    </div><div class="result_detail_container">
      <div class="result_detail_first_text">
        <pre>"{{resultArray[teacherIdx].resultText}}"</pre>
      </div>
      <div class="result_detail_second_text">
        {{resultArray[teacherIdx].teacherName}} 쌤
      </div>
      <div class="result_detail_third_text">
        직강 날짜 : {{resultArray[teacherIdx].resultDay}}<br>
        직강 시간 : {{resultArray[teacherIdx].resultTime}}
      </div>
    </div>
    <div class="result_print_container">
      <div class="result_print_button" @click="print"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'innisfree',
    props: {
      teacherIdx: {
        default: -1,
        type: Number,
      }
    },
    data(){
      return{
        resultArray:[
          {
            teacherName: '다영',
            teacherImage: require('../assets/키오스크아이콘-33.png'),
            resultSubject: '홍조, 잡티 영역',
            resultText: `홍조!
어렵지 않아요~`,
            resultDay: '2019년 2월 9일 ~ 10일',
            resultTime: '16:00 ~ 17:00',
          },
          {
            teacherName: '씬님',
            teacherImage: require('../assets/키오스크아이콘-31.png'),
            resultSubject: '다크서클 영역',
            resultText: `다크서클이여
  물러가라!`,
            resultDay: '2019년 2월 9일 ~ 10일',
            resultTime: '14:30 ~ 15:30',
          },
          {
            teacherName: '깡나',
            teacherImage: require('../assets/키오스크아이콘-32.png'),
            resultSubject: '트러블 영역',
            resultText: `트러블자국에
밑줄 쫙~!`,
            resultDay: '2019년 2월 9일 ~ 10일',
            resultTime: '13:00 ~ 14:00',
          },
        ],
      }
    },
    methods: {
      print() {
        let time = this.resultArray[this.$props.teacherIdx].resultTime;
        this.$emit('set-option', 'lectureTime', time.substring(0, 5));
        this.$emit('set-print');
      }
    },
    computed: {
      teacherImage() {
        let url = this.resultArray[this.$props.teacherIdx].teacherImage;
        return {background: `url(${url})`};
      },
    },
  }
</script>

<style>

.result_subject {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}
.result_image_container {
  display: inline-block;
  width: calc(50%);
  height: 550px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.result_image {
  position: relative;
  top: 55px;
  width: calc(100% - 20px);
  height: calc(100% - 110px);
}
.result_detail_container {
  display: inline-block;
  width: calc(50%);
  height: 550px;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  box-sizing: border-box;
}
.result_detail_first_text {
  height: 190px;
  text-align: center;
  font-size: 45px;
}
.result_detail_second_text {
  margin-top: 90px;
  height: 100px;
  text-align: center;
  font-size: 60px;
}
.result_detail_third_text {
  margin-top: 100px;
  height: 100px;
  font-size: 25px;
}
.result_print_container {
  height: 87px;
  text-align: center;
}
.result_print_button {
  position: relative;
  top: 150px;
  display: inline-block;
  background: url(../assets/키오스크아이콘-04.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
}
</style>
