<template>
  <div class="class_container">
    <div v-for="(item, index) in classArray" 
    @click="setOption(item)" 
    :key="`class_${ index }`" 
    :style="{'background-image' : `url(${ item.teacherImage })`}" 
    :class="classStyle(index)"
    class="class_div">

      </div>
    </div>
</template>

<script>
  export default {
    name: 'innisfree',
    props: {

    },
    data(){
      return{
        teacherName: '',
        classArray:[
          {
            teacherName: '다영',
            teacherImage: require('../assets/키오스크아이콘-13.png'),
            classSubject: '홍조, 잡티 영역',
            className: '이니스프리 마이 컨실러 와이드 커버',
            classLecture: '홍조, 잡티 커버 완전 정복',
          },
          {
            teacherName: '씬님',
            teacherImage: require('../assets/키오스크아이콘-14.png'),
            classSubject: '다크서클 영역',
            className: '이니스프리 마이 컨실러 다크서클 커버',
            classLecture: '다크서클 커버 완전 정복',
          },
          {
            teacherName: '깡나',
            teacherImage: require('../assets/키오스크아이콘-15.png'),
            classSubject: '트러블 커버 영역',
            className: '이니스프리 마이 컨실러 스팟 커버',
            classLecture: '트러블 자국, 국소부위 커버 완전 정복',
          },
        ],
      }
    },
    methods: {
      setOption(value) {
        if (this.teacherName === value.teacherName) {
          this.teacherName = '';
          this.$emit('set-option', 'teacherName', '');
          // this.$emit('set-option', 'teacherImage', '');
          this.$emit('set-option', 'lectureSubject', '');
          return;
        }
        this.teacherName = value.teacherName;
        this.$emit('set-option', 'teacherName', value.teacherName);
        // this.$emit('set-option', 'teacherImage', value.teacherImage);
        this.$emit('set-option', 'lectureSubject', value.classSubject);
      },
      classStyle(index) {
        // return {background : `url(../assets/${ item.teacherImage })`};
        let className = '';
        if (index === 1) className += 'class_center ';
        if (this.classArray[index].teacherName === this.teacherName) className += 'class_selected'
        return className;
      },
    },
    computed: {

    }
  }
</script>

<style>

.class_container {
  width: 100%;
}
.class_div {
  display: inline-block;
  margin-top: 93px;
  height: 570px;
  width: 30%;
  background-size: cover;
  box-sizing: border-box;
}
.class_center {
  margin-left: 5%;
  margin-right: 5%;
}
.class_div {

}
.class_teacher_name_text {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}
.class_teacher_image {
  display: inline-block;
  width: 100%;
  height: 73%;
}
.class_subejct {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  height: 63px;
  top: -68px;
  line-height: 4.2;
}
.class_detail_div {
  position: relative;
  background: white;
  top: -68px;
  height: 150px;
  padding-top: 5px;
  text-align: center;
}
.class_detail_subject {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.class_detail_subject:after {
  content: '';
  display: block;
  width: 45px;
  border-bottom: 1px solid black;
  margin: 2px auto;
  margin-bottom: 5px;
}
.class_detail_text {
  font-size: 16px;
}
.class_selected {
  border: 3px solid black;
}

</style>
