<template>
  <div class="concealer_container">
    <div class="concealer_image_container" :style="teacherImage">
    </div><div class="concealer_detail_container">
      <div class="concealer_detail_text">
        <div class="concealer_detail_first_text">
        마이 컨실러 <br>
        {{concealerSubejct}}
        </div>
        <div class="concealer_detail_second_text">
          <span class="concealer_teacher_name">{{teacherName}}</span> 쌤
        </div>
      </div>
    </div>
    <div class="concealer_button_container">
      <div v-for="(concealer, idx) in concealerArray" 
      v-show="teacherName===concealer.teacherName" 
      :class="`concealer_button_arr_${idx}`" :key="`concealer_${idx}`" >
        <div 
        :style="{background: `url(${item})`}" 
        v-for="(item, index) in concealerArray[idx].shade" 
        @click="setConcealer(index, concealer.teacherImage)"
        :class="`concealer_button concealer_button_arr${idx} ${selectIdx === index ? 'concealer_selected' : ''}`" 
        :key="`key_1_${index}`">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'innisfree',
    props: {
      teacherName: {
        default: '',
      }
    },
    data(){
      return{
        selectIdx: -1,
        concealer: '',
        concealerArray: [
          {
            teacherName: '다영',
            teacherImage: require('../assets/키오스크아이콘-30.png'),
            concealerSubject: '와이드 커버 완전 정복!',
            shade: [require('../assets/키오스크아이콘-22.png'), require('../assets/키오스크아이콘-23.png'), require('../assets/키오스크아이콘-24.png'),
             require('../assets/키오스크아이콘-25.png'), require('../assets/키오스크아이콘-26.png'), require('../assets/키오스크아이콘-27.png')],
          },
          {
            teacherName: '씬님',
            teacherImage: require('../assets/키오스크아이콘-28.png'),
            concealerSubject: '다크서클 커버 완전 정복!',
            shade: [require('../assets/키오스크아이콘-16.png'),require('../assets/키오스크아이콘-17.png')],
          },
          {
            teacherName: '깡나',
            teacherImage: require('../assets/키오스크아이콘-29.png'),
            concealerSubject: '스팟 커버 완전 정복!',
            shade: [require('../assets/키오스크아이콘-18.png'), require('../assets/키오스크아이콘-19.png'),
             require('../assets/키오스크아이콘-20.png'), require('../assets/키오스크아이콘-21.png')],
          },
        ]
      }
    },
    methods: {
      setConcealer(shadeIdx, image) { //  셰이드 이미지 여기서 분류해야할듯
        if (this.selectIdx === shadeIdx) {
          this.selectIdx = -1;
          this.$emit('set-option', 'concealerIdx', '');
          this.$emit('set-option', 'teacherImage', '');
          return
        }
        this.selectIdx = shadeIdx;
        this.$emit('set-option', 'concealerIdx', shadeIdx);
        this.$emit('set-option', 'teacherImage', image);
      }
    },
    computed: {
      teacherImage() {
        const teacherName = this.$props.teacherName;
        let url = '';
        if (teacherName === '다영') url = this.concealerArray[0].teacherImage;
        if (teacherName === '씬님') url = this.concealerArray[1].teacherImage;
        if (teacherName === '깡나') url = this.concealerArray[2].teacherImage;
        return {background: `url(${url})`};
      },
      concealerSubejct() {
        const teacherName = this.$props.teacherName;
        let subject = '';
        if (teacherName === '다영') subject = this.concealerArray[0].concealerSubject;
        if (teacherName === '씬님') subject = this.concealerArray[1].concealerSubject;
        if (teacherName === '깡나') subject = this.concealerArray[2].concealerSubject;
        return subject;
      }
    }
  }
</script>

<style>

.concealer_container {
  /* padding-right: 20px; */
  /* padding-left: 20px; */
  margin-top: 27px;
}
.concealer_image_container {
  display: inline-block;
  /* width: calc(50% - 14px); */
  width: 450px;
  height: 450px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.concealer_detail_container {
  display: inline-block;
  width: 50%;
  height: 450px;
  float: right;
}

.concealer_detail_text {
  height: 100%;
  margin-left: 40px;
}
.concealer_detail_first_text {
  display: inline-block;
  font-size: 38px;
  font-family: 'innisfree3';
  margin-top: 90px;
}
.concealer_detail_first_text:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 25px;
  border-bottom: 2px solid black;
}
.concealer_detail_second_text {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}
.concealer_teacher_name {
  font-size: 80px;
}
.concealer_button_container {
  height: 280px;
  width: 100%;
  margin-top: 10px;
}
.concealer_button {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.concealer_button_arr_0 {
  padding-left: 19%;
  margin-top: 5%;
}
.concealer_button_arr0 {
  display: inline-block;
  width: 24%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.concealer_button_arr_1 {
  padding-left: 18%;
  margin-top: 5%;
}
.concealer_button_arr1 {
  display: inline-block;
  width: 40%;
  height: 135px;
  margin-left: 5px;
}
.concealer_button_arr_2 {
  padding-left: 23%;
  padding-right: 18%;
  margin-top: -0%;
}
.concealer_button_arr2 {
  display: inline-block;
  width: 45%;
  height: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.concealer_selected {
  box-sizing: border-box;
  border: 3px black solid;
}



</style>
