<template>
  <div class="main_background_div" :style="computedMainBackground">
    <innisfree-main v-show="nowShowPage === 'main'" @set-page="setShowPage"></innisfree-main>
    <base-form v-show="nowShowPage !== 'main'" @set-page="setShowPage"></base-form>
  </div>
</template>

<script>
  import innisfreeMain from '@/components/main'
  import baseForm from '@/components/baseForm'
  export default {
    name: 'innisfree',
    components: {
      innisfreeMain,
      baseForm,
    },
    data(){
      return{
        backgroundImage: require('../assets/1.png'),
        nowShowPage: 'main',
      }
    },
    methods: {
      setShowPage(pageName) {
        this.nowShowPage = pageName;
        this.tempSetBackground();
      },
      tempSetBackground() {
        if (this.nowShowPage === 'main') this.backgroundImage = require('../assets/1.png');
        if (this.nowShowPage === 'idRegist') this.backgroundImage = require('../assets/2.png');
        if (this.nowShowPage === 'selectClass') this.backgroundImage = require('../assets/4.png');
        if (this.nowShowPage === 'selectConcealer') this.backgroundImage = require('../assets/7.png');
        if (this.nowShowPage === 'resultPage') this.backgroundImage = require('../assets/6.png');
        if (this.nowShowPage === 'done') this.backgroundImage = require('../assets/11.png');
      }
    },
    computed: {
      computedMainBackground() {
        // return { background: `url('${ this.backgroundImage } ') no-repeat 0 0 / contain` };
        return { background: '#024137'};
        // return { background: 'green'}
      }
    }
  }
</script>

<style>



</style>
