<template>
  <div id="app">
        <innisfree-main></innisfree-main>
  </div>
</template>

<script>
  import innisfreeMain from './pages/index'
  export default {
    name: 'my-project',
    components: {
      innisfreeMain,
      },
  }
</script>

<style>
  /* CSS */

  @font-face {
  font-family: 'innisfree1';
  src: url('~@/assets/INNISFREEB_1.ttf');
  }
  @font-face {
  font-family: 'innisfree2';
  src: url('~@/assets/INNISFREER_1.ttf');
  }
  @font-face {
  font-family: 'innisfree3';
  src: url('~@/assets/INNISFREEGOTHICB_1.ttf');
  }
  @font-face {
  font-family: 'innisfree4';
  src: url('~@/assets/INNISFREEGOTHICL_1.ttf');
  }
  @font-face {
  font-family: 'innisfree5';
  src: url('~@/assets/INNISFREEGOTHICR_1.ttf');
  }

  * {
    margin: 0;
    padding: 0;
    cursor: default;
    /* font-family: 'FreigSanLFProBoo'; */
    /* FreigSanLFProBoo.otf */
  }
  body, #app {
    width: 1080px !important;
    height: 1920px !important;
    overflow: hidden;
  }
</style>
